.image-modal{
    width: 1100px;
    height: auto;
}

.camera-wrapper{
    margin-left: 30%;
    height: 100% !important;
}

.button-cam{
    margin-left: 5%;
    /* margin-right: 50%; */
}

#my_camera{
    width: 100% !important;
    height: 260px !important;
    /* margin-left: -25%; */
    border: 1px solid black;
}

#profile_camera {
    width: 100% !important;
    height: 260px !important;
     margin-left: -25%;
    border: 1px solid black;
}

.item-cam{
    margin-right: 10px;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.take-photo{
    margin-left: -48px;
    margin-bottom: 5px;
}

.check-permission{
    margin-left: 10px;
    margin-top: -10px;
}

.profile {
    width: 90%;
    margin-left: 10px;
}

.profile-label {
    margin-left: 10px;
}

.profile-label-division {
    margin-left: -16px;
}

.profile-division {
    width: 90%;
    margin-left: -18px;
}
