/**
 * Created by PhpStorm.
 * User: akhmadfauzie20
 * Date: 2021-03-24
 * Time: 3:26 PM
 */

/* For Receipt Only */
@page {
    size: A5 portrait;
    margin: 0;
    height: auto;
}

body,
* {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
}

.pages {
    margin: 0 auto;
    width: 640px;
    /*border: 1px solid;*/
}

.border {
    border: 1px solid;
    /*margin-left: 10px;*/
    margin-right: 18px;
    width: 640px;

}

h1 {
    font-size: 24px;
}

.margin {
    margin-top: 10px;
}

.first-item {
    width: 200px;
    border: 1px solid;
}

.item {
    margin-left: 201px;
    width: 20%;
    text-align: center;
    border: 1px solid;
}

.table {
    margin-left: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-no-counting {
    margin-left: 10px;
}

.first-item {
    width: 200px;
}

.item {
    width: 150px;
    text-align: center;
}

.table-content {
    border: none;
    margin-left: 10px;
}

.first-content {
    width: 200px;
}

.content {
    width: 20px;
}

.x {
    text-align: center;
    width: 20px;
}

.content-right {
    width: 83px;
    text-align: right;
}

.div-currency {
    margin-left: 8px;
}

.div-total {
    width: 100px;
}

.div-total p {
    display: inline-block;
    padding: 0 5px;
}

.money-count {
    width: 68px;
    text-align: right;
}

.right {
    margin-left: 15px;
}

.total {
    border: 1px solid;
    border-collapse: collapse;
}

.rp-col{
    padding-left: 20px;
}

.total-rp {
    border: 1px solid;
    /*border-right: none;*/
}

.no-count {
    width: 354px;
}

.text-right {
    float: right;
    margin-top: -2px;
}

.c-total {
    margin-top: 5px;
}
